/*styles_contact.css*/
p {
  color:green;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-align: center
  width: 25%
}
body {
  background-color: #10ff10;
} 
#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
